body {
  background: #E4E4E4;
  margin: 0px;
}

footer{
  clear:both;
  height: 50px;
  padding: 10px 0px 30px;
  border-top: 1px solid #7C7C7C;
}


input, select, textarea {
  color: #000;
}

.top-panel{
  height: 40px;
  padding: 10px 0px 20px;
  border-bottom: 1px solid #7C7C7C;
}

.smallPic {
  width: 300px;
  height: auto;
}

.main {
  width: 500px;
}

.main img {
  width: 100%;
}

.user-anchor, .user-anchor:hover, .user-anchor:active{
  color: #202020;
  font-weight: bold;
}

.fill{
  min-height:100vh;
}

.input-sizer{
  width:300px;
}

.input-sizer-small{
  width:100px;
}

.display-fix{
  display: inline-block !important;
}

.padding-left{
  padding-left: 140px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.offer-text{
  font-weight: bold;
}

.user-access{
  border: 2px solid #808080;
  border-radius: 8px;
  padding:10px;
}

.user-errors{
  border: 2px solid #A62A2A;
  border-radius: 8px;
  padding: 10px;
  color: #A62A2A;
}

.bg-darker-white{
  background-color: #EEE;
}

.font-sizer{
  font-size:14px;
}

.font-sizer-bigger{
  font-size:18px;
}

.bg-white{
  background-color: #FFF;
}

.margin-bottom{
  margin-bottom: 20px;
}
